<div id="sidebar-menu" class="sidebar-menu">
    <ul>
        <li class="menu-title">@_localizer["Administration"]</li>

        <li class="submenu">
            <a href="#"><i class="fa fa-hospital-o"></i> <span> @_localizer["Hospital Management"] </span> <span class="menu-arrow"></span></a>
            <ul style="display: none;">
                <li><a href="#">@_localizer["Departments"]</a></li>
                <li><a href="#">@_localizer["Laboratories"]</a></li>
                <li><a href="#">@_localizer["Employees"]</a></li>
                <li><a href="#">@_localizer["Assets"]</a></li>
                <li><a href="#">@_localizer["Facilities"]</a></li>
                <li><a href="#">@_localizer["Services"]</a></li>
                <li><a href="#">@_localizer["Lab Instruments"]</a></li>

            </ul>
        </li>
        <li class="submenu">
            <a href="#"><i class="fa fa-building"></i> <span> @_localizer["Building Management"] </span> <span class="menu-arrow"></span></a>
            <ul style="display: none;">
                <li><a href="#">@_localizer["Buildings"]</a></li>
                <li><a href="#">@_localizer["Rooms"]</a></li>
                <li><a href="#">@_localizer["Room Types"]</a></li>
                <li><a href="#">@_localizer["Room Grades"]</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a href="#"><i class="fa fa-medkit"></i> <span> @_localizer["Medical Datasets"] </span> <span class="menu-arrow"></span></a>
            <ul style="display: none;">
                <li><a href="#">@_localizer["Allergy Types"]</a></li>
                <li><a href="#">@_localizer["Diseases"]</a></li>
                <li><a href="#">@_localizer["Symptoms"]</a></li>
                <li><a href="#">@_localizer["Prescription Types"]</a></li>
                <li><a href="#">@_localizer["Medicines"]</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a href="#"><i class="fa fa-cogs"></i> <span>@_localizer["Settings"]</span> <span class="menu-arrow"></span></a>
            <ul style="display: none;">
                <li><a href="#">@_localizer["Hospital Information"]</a></li>
                <li><a href="#">@_localizer["Employee Types"]</a></li>
                <li><a href="#">@_localizer["Asset Types"]</a></li>
                <li><a href="#">@_localizer["Facility Types"]</a></li>
                <li><a href="#">@_localizer["Service Types"]</a></li>
                <li><a href="#">@_localizer["Lab Instrument Types"]</a></li>
                <li><a href="#">@_localizer["Personal Information"]</a></li>
            </ul>
        </li>
    </ul>
</div>