<div id="sidebar-menu" class="sidebar-menu">
    <ul>
        <li class="menu-title">@_localizer["Accounting"]</li>



        <li class="submenu">
            <a href="#"><i class="fa fa-money"></i> <span>@_localizer["Bills"]</span> <span class="menu-arrow"></span></a>
            <ul style="display: none;">
                <li><a href="#">@_localizer["Recieve Payment"]</a></li>
                <li><a href="#">@_localizer["Add Expense"]</a></li>
                <li><a href="#">@_localizer["Open Bills"]</a></li>
                <li><a href="#">@_localizer["Partially Paied"]</a></li>
            </ul>
        </li>

        <li>
            <a href="#"><i class="fa fa-search"></i> <span>@_localizer["Search"]</span></a>
        </li>
        <li class="submenu">
            <a href="#"><i class="fa fa-cogs"></i> <span>@_localizer["Settings"]</span> <span class="menu-arrow"></span></a>
            <ul style="display: none;">
                <li><a href="#">@_localizer["Personal Information"]</a></li>
            </ul>
        </li>
    </ul>
</div>