<div id="sidebar-menu" class="sidebar-menu">
    <ul>
        <li class="menu-title">@_localizer["Doctor"]</li>

        <li class="submenu">
            <a href="#"><i class="fa fa-envelope"></i> <span>@_localizer["Requests"]</span> <span class="menu-arrow"></span></a>
            <ul style="display: none;">
                <li><a href="#">@_localizer["Evaluations"]</a></li>
            </ul>
        </li>

        <li>
            <a href="#"><i class="fa fa-bed"></i> <span>@_localizer["Inpatients"]</span></a>
        </li>

        <li>
            <a href="#"><i class="fa fa-user-times"></i> <span>@_localizer["Outpatients"]</span></a>
        </li>

        <li>
            <a href="#"><i class="fa fa-calculator"></i> <span>@_localizer["Appointments"]</span></a>
        </li>

        <li class="submenu">
            <a href="#"><i class="fa fa-calendar-o"></i> <span>@_localizer["Bookings"]</span> <span class="menu-arrow"></span></a>
            <ul style="display: none;">
                <li><a href="#">@_localizer["Make Booking"]</a></li>
                <li><a href="#">@_localizer["Current Bookings"]</a></li>
            </ul>
        </li>

        <li>
            <a href="#"><i class="fa fa-search"></i> <span>@_localizer["Search"]</span></a>
        </li>

        <li class="submenu">
            <a href="#"><i class="fa fa-cogs"></i> <span>@_localizer["Settings"]</span> <span class="menu-arrow"></span></a>
            <ul style="display: none;">
                <li><a href="#">@_localizer["Personal Information"]</a></li>
                <li><a href="#">@_localizer["Qualifications"]</a></li>
                <li><a href="#">@_localizer["Experiences"]</a></li>
                <li><a href="#">@_localizer["Specialities"]</a></li>
            </ul>
        </li>
    </ul>
</div>