<div id="sidebar-menu" class="sidebar-menu">
    <ul>
        <li class="menu-title">@_localizer["Laboratory"]</li>

        <li class="submenu">
            <a href="#"><i class="fa fa-envelope"></i> <span>@_localizer["Requests"]</span> <span class="menu-arrow"></span></a>
            <ul style="display: none;">
                <li><a href="#">@_localizer["Test Requests"]</a></li>
            </ul>
        </li>

        <li class="submenu">
            <a href="#"><i class="fa fa-hourglass"></i> <span>@_localizer["Tests"]</span> <span class="menu-arrow"></span></a>
            <ul style="display: none;">
                <li><a href="#">@_localizer["Tests In Progress"]</a></li>
                <li><a href="#">@_localizer["Tests Completed"]</a></li>
                <li><a href="#">@_localizer["Tests Billed"]</a></li>
            </ul>
        </li>

        <li class="submenu">
            <a href="#"><i class="fa fa-tags"></i> <span>@_localizer["Test Types"]</span> <span class="menu-arrow"></span></a>
            <ul style="display: none;">
                <li><a href="#">@_localizer["Create Test Type"]</a></li>
                <li><a href="#">@_localizer["Create Test Category"]</a></li>
                <li><a href="#">@_localizer["Test Types"]</a></li>
                <li><a href="#">@_localizer["Test Categories"]</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a href="#"><i class="fa fa-cogs"></i> <span>@_localizer["Settings"]</span> <span class="menu-arrow"></span></a>
            <ul style="display: none;">
                <li><a href="#">@_localizer["Personal Information"]</a></li>
            </ul>
        </li>
    </ul>
</div>