<div id="sidebar-menu" class="sidebar-menu">
    <ul>
        <li class="menu-title">@_localizer["Reception"]</li>
        <li class="submenu">
            <a href="#"><i class="fa fa-calendar"></i> <span>@_localizer["Appointments"]</span> <span class="menu-arrow"></span></a>
            <ul style="display: none;">
                <li><a href="#">@_localizer["Make Appointment"]</a></li>
                <li><a href="#">@_localizer["Current Appointments"]</a></li>
            </ul>
        </li>

        <li>
            <a href="#"><i class="fa fa-user-times"></i> <span>@_localizer["Outpatients"]</span></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-user-md"></i> <span>@_localizer["Doctors"]</span></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-search"></i> <span>@_localizer["Search"]</span></a>
        </li>
        <li class="submenu">
            <a href="#"><i class="fa fa-cogs"></i> <span>@_localizer["Settings"]</span> <span class="menu-arrow"></span></a>
            <ul style="display: none;">
                <li><a href="#">@_localizer["Personal Information"]</a></li>
            </ul>
        </li>
    </ul>
</div>