@inject IViewLocalizer _localizer

<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">@_localizer["Main"]</li>
                <li class="active">
                    <a href="index-2.html"><i class="fa fa-dashboard"></i> <span>@_localizer["Dashboard"]</span></a>
                </li>
                <li>
                    <a asp-page="/Doctors/Index"><i class="fa fa-user-md"></i> <span>@_localizer["Doctors"]</span></a>
                </li>
                <li>
                    <a asp-page="/Patients/Index"><i class="fa fa-wheelchair"></i> <span>@_localizer["Patients"]</span></a>
                </li>
                <li>
                    <a asp-page="/Appointments/Index"><i class="fa fa-calendar"></i> <span>@_localizer["Appointments"]</span></a>
                </li>
                <li>
                    <a href="schedule.html"><i class="fa fa-calendar-check-o"></i> <span>@_localizer["Doctor Schedules"]</span></a>
                </li>
                <li>
                    <a asp-page="/Departments/Index"><i class="fa fa-hospital-o"></i> <span>@_localizer["Departments"]</span></a>
                </li>
                <li>
                    <a asp-page="/Rooms/Index"><i class="fa fa-cube"></i> <span>@_localizer["Rooms"]</span></a>
                </li>
                <li>
                    <a asp-page="/Reservations/Index"><i class="fa fa-envelope-o"></i> <span>@_localizer["Reservations"]</span></a>
                </li>
                <li>
                    <a asp-page="/Admissions/Index"><i class="fa fa-bed"></i> <span>@_localizer["Admissions"]</span></a>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fa fa-user"></i> <span> @_localizer["Employees"] </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a asp-page="/Employees/Index">@_localizer["Employee List"]</a></li>
                        <li><a href="attendance.html">@_localizer["Attendance"]</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fa fa-money"></i> <span> @_localizer["Accounts"] </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="invoices.html">@_localizer["Invoices"]</a></li>
                        <li><a href="payments.html">@_localizer["Payments"]</a></li>
                        <li><a href="expenses.html">@_localizer["Expenses"]</a></li>
                    </ul>
                </li>

                <li class="submenu">
                    <a href="#"><i class="fa fa-cogs"></i> <span> @_localizer["Types"] </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a asp-page="/RoomTypes/Index">@_localizer["Room Types"]</a></li>
                        <li><a asp-page="/RoomGrades/Index">@_localizer["Room Grades"]</a></li>
                        <li><a asp-page="/AppointmentTypes/Index">@_localizer["Appointment Types"]</a></li>
                        <li><a asp-page="/AdmissionTypes/Index">@_localizer["Admission Types"]</a></li>
                        <li><a asp-page="/DischargeTypes/Index">@_localizer["Discharge Types"]</a></li>
                        <li><a asp-page="/EmployeeTypes/Index">@_localizer["Employee Types"]</a></li>
                    </ul>
                </li>

                <li class="submenu">
                    <a href="#"><i class="fa fa-flag-o"></i> <span> @_localizer["Reports"] </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="expense-reports.html"> @_localizer["Report 1"] </a></li>
                        <li><a href="invoice-reports.html"> @_localizer["Report 2"] </a></li>
                    </ul>
                </li>
                <li>
                    <a href="settings.html"><i class="fa fa-cog"></i> <span>@_localizer["Settings"]</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>