@page
@model NMC.Pages.Parties.AddModel
@inject IViewLocalizer _localizer

@{ 

}

<div class="content">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 text-center">
            <h4 class="page-title">@_localizer[ViewBag.PageTitle]</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <form method="post" enctype="multipart/form-data">
                <input asp-for="Person.Id" type="hidden" />
                <input asp-for="Organization.Id" type="hidden" />
                <input asp-for="Item.Id" type="hidden" />
                <input asp-for="Item.RoleTypeId" type="hidden" />
                <input asp-for="Item.From" type="hidden" />
                <input asp-for="PartyType" type="hidden" />
                <input asp-for="RoleType" type="hidden" />
                <div class="card-box">
                    <div class="card-title">@_localizer["Personal Information"]</div>
                    <div class="card-box" hidden="@(Model.PartyType != "O")">
                        <div class="form-group row">
                            <label asp-for="Organization.DisplayName" class="col-sm-4 col-form-label"></label>
                            <div class="col-sm-8">
                                <input asp-for="Organization.DisplayName" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Organization.DisplayNameAlt" class="col-sm-4 col-form-label"></label>
                            <div class="col-sm-8">
                                <input asp-for="Organization.DisplayNameAlt" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="card-body" hidden="@(Model.PartyType != "P")">
                        <div class="form-group row">
                            <label asp-for="Person.FirstName" class="col-sm-4 col-form-label">@_localizer["Full Name"]</label>
                            <div class="col-sm-4">
                                <input asp-for="Person.FirstName" class="form-control">
                            </div>
                            <div class="col-sm-4">
                                <input asp-for="Person.LastName" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Person.FirstNameAlt" class="col-sm-4 col-form-label">@_localizer["Full Name (alt)"]</label>
                            <div class="col-sm-4">
                                <input asp-for="Person.FirstNameAlt" class="form-control">
                            </div>
                            <div class="col-sm-4">
                                <input asp-for="Person.LastNameAlt" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Person.DisplayName" class="col-sm-4 col-form-label"></label>
                            <div class="col-sm-8">
                                <input asp-for="Person.DisplayName" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Person.DisplayNameAlt" class="col-sm-4 col-form-label"></label>
                            <div class="col-sm-8">
                                <input asp-for="Person.DisplayNameAlt" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Person.Gender" class="col-sm-4 col-form-label"></label>
                            <div class="col-sm-8">
                                <select asp-for="Person.Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Person.MaritalStatus" class="col-sm-4 col-form-label"></label>
                            <div class="col-sm-8">
                                <select asp-for="Person.MaritalStatus" class="form-control" asp-items="Html.GetEnumSelectList<MaritalStatus>()"></select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="m-t-20 text-center">
                    <button class="btn btn-primary submit-btn">@_localizer["Save"]</button>
                </div>
            </form>
        </div>
    </div>
</div>