@page "{id:int?}"
@model NMC.Pages.Doctors.EditModel


@inject IViewLocalizer _localizer

@{
    ViewData["Title"] = _localizer["Edit Doctor"];
}


<partial name="_Sidebar" />

<div class="page-wrapper">
    <div class="content">
        <!-- Header -->
        <div class="row">
            <div class="col-sm-5 col-5">
                <h4 class="page-title">@ViewBag.Title</h4>
            </div>
        </div>

        <!-- Body -->
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="row mb-3">
                <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>@_localizer["Error!"]</strong> @_localizer[ViewBag.ErrorMessage]
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <input type="hidden" asp-for="Entity.Id" />
                    <input type="hidden" asp-for="Entity.UserId" />
                    <input type="hidden" asp-for="Entity.Biography" />
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Entity.FirstName" class="col-form-label"></label>
                            <input asp-for="Entity.FirstName" class="form-control" />
                            <span asp-validation-for="Entity.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Entity.LastName" class="col-form-label"></label>
                            <input asp-for="Entity.LastName" class="form-control" />
                            <span asp-validation-for="Entity.LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label asp-for="Entity.Gender" class="col-form-label"></label>
                            <select asp-for="Entity.Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control"></select>
                            <span asp-validation-for="Entity.Gender" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Entity.Title" class="col-form-label"></label>
                            <input asp-for="Entity.Title" class="form-control" />
                            <span asp-validation-for="Entity.Title" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Entity.JoiningDate" class="col-form-label"></label>
                            <input asp-for="Entity.JoiningDate" class="form-control" />
                            <span asp-validation-for="Entity.JoiningDate" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label asp-for="Entity.Phone" class="col-form-label"></label>
                            <input asp-for="Entity.Phone" class="form-control" />
                            <span asp-validation-for="Entity.Phone" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Entity.Mobile" class="col-form-label"></label>
                            <input asp-for="Entity.Mobile" class="form-control" />
                            <span asp-validation-for="Entity.Mobile" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Entity.Email" class="col-form-label"></label>
                            <input asp-for="Entity.Email" class="form-control" />
                            <span asp-validation-for="Entity.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label asp-for="Entity.Address" class="col-form-label"></label>
                            <input asp-for="Entity.Address" class="form-control" />
                            <span asp-validation-for="Entity.Address" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="col-md-4">
                            <div class="form-group gender-select">
                                <label asp-for="Entity.IsConsultant" class="gen-label"></label>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" id="notConsultant" value="False" asp-for="Entity.IsConsultant" class="form-check-input">@_localizer["No"]
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" id="consultant" value="True" asp-for="Entity.IsConsultant" class="form-check-input" />@_localizer["Yes"]
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group gender-select">
                                <label asp-for="Entity.IsReferrer" class="gen-label"></label>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" id="notReferrer" value="False" asp-for="Entity.IsReferrer" class="form-check-input">@_localizer["No"]
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" id="referrer" value="True" asp-for="Entity.IsReferrer" class="form-check-input" />@_localizer["Yes"]
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group gender-select">
                                <label asp-for="Entity.IsSurgeon" class="gen-label"></label>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" id="notSurgeon" value="False" asp-for="Entity.IsSurgeon" class="form-check-input">@_localizer["No"]
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" id="surgeon" value="True" asp-for="Entity.IsSurgeon" class="form-check-input" />@_localizer["Yes"]
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label asp-for="Entity.Specialities"></label>
                            <select asp-for="Specs" asp-items="Model.SpecSelect" class="select" multiple>
                            </select>
                            @for (int i = 0; i < Model.Entity.Specialities.Count; i++)
                            {
                                <input asp-for="Entity.Specialities[i].Id" type="hidden" />
                                <input asp-for="Entity.Specialities[i].Name" type="hidden" />
                            }
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label asp-for="Entity.Biography" class="col-form-label"></label>
                            <textarea rows="3" asp-for="Entity.Biography" class="form-control" ></textarea>
                            <span asp-validation-for="Entity.Biography" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="m-t-20">
                        <button type="submit" class="btn btn-primary">@_localizer["Save"]</button>
                        <a href="@Model.ReturnUrl" class="btn btn-secondary ml-1">@_localizer["Return"]</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />

}

