@page
@model NMCUI.Areas.UI1.Pages.Appointments.EditAppointmentModel
@inject IViewLocalizer _localizer
@{
    ViewData["PageTitle"] = _localizer["Edit Appointment"];
}

<div class="content">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h4 class="page-title">@_localizer["Edit Appointment"]</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Appointment.Id"></label>
                            <input asp-for="Appointment.Id" readonly class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Appointment.AppointmentTypeId"></label>
                            <select asp-for="Appointment.AppointmentTypeId" asp-items="Model.AppointmentTypesSelect" class="select">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Appointment.Visitor"></label>
                            <input asp-for="Appointment.Visitor" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Appointment.PatientId"></label>
                            <select asp-for="Appointment.PatientId" asp-items="Model.PatientsSelect" class="select">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Appointment.DepartmentId"></label>
                            <select asp-for="Appointment.DepartmentId" asp-items="Model.DepartmentsSelect" class="select">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Appointment.DoctorId"></label>
                            <select asp-for="Appointment.DoctorId" asp-items="Model.DoctorsSelect" class="select">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Appointment.AppointmentDate"></label>
                            <div class="cal-icon">
                                <input asp-for="Appointment.AppointmentDate" type="text" class="form-control datetimepicker">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="Appointment.StartTime"></label>
                            <div class="time-icon">
                                <input asp-for="Appointment.StartTime" id="startTime" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="Appointment.EndTime"></label>
                            <div class="time-icon">
                                <input asp-for="Appointment.EndTime" id="endTime" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Appointment.Phone"></label>
                            <input asp-for="Appointment.Phone" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Appointment.Mobile"></label>
                            <input asp-for="Appointment.Mobile" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Appointment.Message"></label>
                    <textarea asp-for="Appointment.Message" cols="30" rows="4" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="Appointment.Active" class="display-block"></label>
                    <div class="form-check form-check-inline">
                        <input asp-for="Appointment.Active" class="form-check-input" type="radio" id="active" value="True" checked="@(Model.Appointment.Active)">
                        <label class="form-check-label" for="product_active">
                            @_localizer["Active"]
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input asp-for="Appointment.Active" class="form-check-input" type="radio" id="inactive" value="False" checked="@(!Model.Appointment.Active)">
                        <label class="form-check-label" for="product_inactive">
                            @_localizer["Inactive"]
                        </label>
                    </div>
                </div>

                <div class="m-t-20 text-center">
                    <button class="btn btn-primary submit-btn">@_localizer["Save"]</button>
                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts
{
    <script>
    $(function () {
        $('#startTime').datetimepicker({
            format: 'LT'

        });

        $('#endTime').datetimepicker({
            format: 'LT'

        });
    });
    </script>
}