@page
@using Microsoft.EntityFrameworkCore

@{
    ViewBag.PageTitle = _localizer["Inpatients"];
    ViewBag.NewInpatients = _localizer["New Inpatients"];
}

@functions{

    public IEnumerable<Inpatient> Items { get; set; }
    public IEnumerable<Ward> Wards { get; set; }

    [TempData]
    public string AlertMessage { get; set; }
    public string Lang { get; set; }
    public bool IsArabic { get; set; }

    public async Task OnGetAsync()
    {
        Lang = User.GetUserLanguage();
        IsArabic = (Lang?.ToLower() == "ar");
        Wards = await _mem.GetWards();
        Items = await _mem.GetInpatients();

    }


}

<div class="content">
    <div class="row">
        <div class="col-sm-5 col-5">
            <h4 class="page-title">@ViewBag.PageTitle</h4>
        </div>
        <div class="col-sm-7 col-7 text-right m-b-30">
            <a asp-page="./AddInpatient" class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i> @_localizer["Add"]</a>
        </div>
    </div>

    @if (AlertMessage != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong> @AlertMessage
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    }

    <div class="row mb-2">
        <div class="col-sm-10 col-md-8 col-8 top-action-left">
            <div class="float-left">
                <div class="btn-group dropdown-action">
                    <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown">@_localizer["Wards"] <i class="fa fa-angle-down "></i></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">All</a>
                        <div class="dropdown-divider"></div>
                        @foreach (var w in Wards.OrderBy(x => x.Floor))
                        {
                            <a class="dropdown-item" href="#">@(IsArabic ? w.NameAr : w.Name)</a>

                        }
                    </div>
                </div>
            </div>
            <div class="float-left d-none d-sm-block">
                <input type="text" placeholder="Search Messages" class="form-control search-message">
            </div>
        </div>
        
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="table-responsive">
                <table class="table text-nowrap table-striped custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>@Html.DisplayNameFor(p => p.Items.FirstOrDefault().Name)</th>
                            <th>@Html.DisplayNameFor(p => p.Items.FirstOrDefault().RoomNo)</th>
                            <th>@Html.DisplayNameFor(p => p.Items.FirstOrDefault().IdentityNo)</th>
                            <th>@Html.DisplayNameFor(p => p.Items.FirstOrDefault().Gender)</th>
                            <th>@Html.DisplayNameFor(p => p.Items.FirstOrDefault().Referrer)</th>
                            <th>@Html.DisplayNameFor(p => p.Items.FirstOrDefault().Status)</th>
                            <th>@Html.DisplayNameFor(p => p.Items.FirstOrDefault().Status.StatusTime)</th>
                            <th>@Html.DisplayNameFor(p => p.Items.FirstOrDefault().Status.Description)</th>

                            <th class="text-right">@_localizer["Action"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Patient.Name</td>
                                <td>@item.RoomNo</td>
                                <td>@item.Patient.IdentityNo</td>
                                <td>@_localizer[item.Patient.Gender.ToString()]</td>
                                <td>@item.Referrer?.Name</td>
                                <td>@item.Status?.Name</td>
                                <td><date value="@item.Status.StatusTime"></date></td>
                                <td>@item.Status.Description</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" asp-page="./InpatientDetails" asp-route-id="@item.Id"><i class="fa fa-info m-r-5"></i> @_localizer["Details"]</a>
                                            <a class="dropdown-item" asp-page="./SelectRoom" asp-route-id="@item.Id"><i class="fa fa-info m-r-5"></i> @_localizer["Select Room"]</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div id="cancel-booking" class="modal fade delete-modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="~/assets/img/sent.png" alt="" width="50" height="46">
                <h3>@_localizer["Are you sure want to cancel this"] @_localizer["booking"] @_localizer["?"]</h3>
                <div class="m-t-20">
                    <form method="post" asp-page-handler="cancel" asp-route-id="param-id">
                        <a href="#" class="btn btn-white" data-dismiss="modal">@_localizer["Close"]</a>
                        <button type="submit" class="btn btn-danger">@_localizer["Cancel"]</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="confirm-booking" class="modal fade delete-modal delete-modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="~/assets/img/sent.png" alt="" width="50" height="46">
                <h3>@_localizer["Are you sure want to confirm this"] @_localizer["booking"] @_localizer["?"]</h3>
                <div class="m-t-20">
                    <form method="post" asp-page-handler="confirm" asp-route-id="param-id">
                        <a href="#" class="btn btn-white" data-dismiss="modal">@_localizer["Close"]</a>
                        <button type="submit" class="btn btn-primary">@_localizer["Confirm"]</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts 
{
<script>
    $('#cancel-booking').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) 
        var itemId = button.data('id') // get item.Id
        var modal = $(this)
        var current = modal.find('.modal-body form').attr('action')
        current = current.replace('param-id', itemId)
        modal.find('.modal-body form').attr('action', current)
    })

    $('#confirm-booking').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var itemId = button.data('id') // get item.Id
        var modal = $(this)
        var current = modal.find('.modal-body form').attr('action')
        current = current.replace('param-id', itemId)
        modal.find('.modal-body form').attr('action', current)
    })
</script>
}