@page "{id:int}"
@functions
{
    string PageTitle = "Edit Doctor";

    [BindProperty] public Doctor Item { get; set; }
    [BindProperty(SupportsGet = true)] public int? Id { get; set; }
    public MultiSelectList SpecSelect { get; set; }

    [BindProperty] public List<int> Specs { get; set; } = new();

    public async Task Init()
    {
        Specs = Item?.Specialities.Select(x => x.Id).ToList();
        SpecSelect = new MultiSelectList(await _ctx.Specialities.OrderBy(x => x.Name).ToListAsync(), "Id", "Name", Specs);
    }

    public async Task<IActionResult> OnGetAsync()
    {
        if (!Id.HasValue)
            return RedirectToPage("/NotFound");

        Item = await _ctx.Doctors
            .Include(x => x.Specialities)
            .Where(x => x.Id == Id).FirstOrDefaultAsync();
        if (Item == null)
            return RedirectToPage("/NotFound");

        await Init();

        return Page();
    }

    public async Task<IActionResult> OnPostAsync()
    {
        if(ModelState.IsValid)
        {
            var tx = await _ctx.Database.BeginTransactionAsync();
            try
            {
                List<int> oldSpecs = Item.Specialities.Select(x => x.Id).ToList();
                var old = await _ctx.Set<DoctorSpeciality>()
                    .Where(x => x.DoctorId == Item.Id && oldSpecs.Contains(x.SpecialityId))
                    .ToListAsync();
                _ctx.Set<DoctorSpeciality>().RemoveRange(old);

                await _ctx.SaveChangesAsync();

                Item.Specialities = await _ctx.Specialities
                .Where(x => Specs.Contains(x.Id)).ToListAsync();

                _ctx.Doctors.Update(Item);
                await _ctx.SaveChangesAsync();
                await tx.CommitAsync();
                return RedirectToPage("./Index");
            }
            catch(Exception ex)
            {
                await tx.RollbackAsync();
                ModelState.AddModelError("Code", "Invalid");
            }
        }

        await Init();
        return Page();
    }
}

<div class="content">

    <div class="row">
        <div class="col-sm-5 col-5">
            <h4 class="page-title">@_localizer[PageTitle]</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form method="post">
                <div class="card-box">
                    <div class="card-body">
                        <h3 class="card-title">@_localizer["Doctor Details"]</h3>

                        <input asp-for="Item.Id" type="hidden" />

                        <div class="form-group">
                            <label asp-for="Item.Code" class="col-form-label"></label>
                            <input readonly asp-for="Item.Code" class="form-control col-md-3" />
                            <span asp-validation-for="Item.Code" class="text-danger"></span>
                        </div>

                        <div class="row">

                            <div class="form-group col-md-6">
                                <label asp-for="Item.FirstName" class="col-form-label"></label>
                                <input asp-for="Item.FirstName" class="form-control" />
                                <span asp-validation-for="Item.FirstName" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-6">
                                <label asp-for="Item.LastName" class="col-form-label"></label>
                                <input asp-for="Item.LastName" class="form-control" />
                                <span asp-validation-for="Item.LastName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="Item.Title" class="col-form-label"></label>
                            <input asp-for="Item.Title" class="form-control" />
                            <span asp-validation-for="Item.Title" class="text-danger"></span>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label asp-for="Item.Gender" class="col-form-label"></label>
                                <select asp-for="Item.Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control">
                                </select>
                                <span asp-validation-for="Item.Gender" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-4">
                                <label asp-for="Item.ContractType" class="col-form-label"></label>
                                <select asp-for="Item.ContractType" asp-items="Html.GetEnumSelectList<ContractType>()" class="form-control">
                                </select>
                                <span asp-validation-for="Item.ContractType" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-4">
                                <label asp-for="Item.JoiningDate" class="col-form-label"></label>
                                <input asp-for="Item.JoiningDate" class="form-control">
                                <span asp-validation-for="Item.JoiningDate" class="text-danger"></span>
                            </div>

                        </div>

                        <div class="row">

                            <div class="form-group col-md-4">
                                <label asp-for="Item.Phone" class="col-form-label"></label>
                                <input asp-for="Item.Phone" class="form-control">
                                <span asp-validation-for="Item.Phone" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-4">
                                <label asp-for="Item.Mobile" class="col-form-label"></label>
                                <input asp-for="Item.Mobile" class="form-control">
                                <span asp-validation-for="Item.Mobile" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-4">
                                <label asp-for="Item.Email" class="col-form-label"></label>
                                <input asp-for="Item.Email" class="form-control">
                                <span asp-validation-for="Item.Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="Item.Address" class="col-form-label"></label>
                            <input asp-for="Item.Address" class="form-control">
                            <span asp-validation-for="Item.Address" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Item.Biography" class="col-form-label"></label>
                            <textarea asp-for="Item.Biography" class="form-control" rows="3"></textarea>
                            <span asp-validation-for="Item.Biography" class="text-danger"></span>
                        </div>

                        <div class="form-group gender-select">
                            <label class="gen-label">@_localizer["Referrer"]:</label>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" asp-for="Item.Referrer" id="notReferrer" value="False" class="form-check-input">@_localizer["No"]
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" asp-for="Item.Referrer" id="referrer" value="True" class="form-check-input">@_localizer["Yes"]
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="Item.Specialities"></label>
                            <select asp-for="Specs" asp-items="SpecSelect" class="select" multiple>
                            </select>
                            @for (int i = 0; i < Item.Specialities.Count; i++)
                            {
                                <input asp-for="Item.Specialities[i].Id" type="hidden" />
                                <input asp-for="Item.Specialities[i].Name" type="hidden" />
                                <input asp-for="Item.Specialities[i].Code" type="hidden" />
                            }
                        </div>

                        <hr />

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label asp-for="Item.UserName" class="col-form-label"></label>
                                <input asp-for="Item.UserName" class="form-control">
                                <span asp-validation-for="Item.UserName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="m-t-20 text-center">
                            <button type="submit" class="btn btn-primary submit-btn">@_localizer["Save"]</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

@section scripts
{
    <partial name="_ValidationScriptsPartial" />
}