@page "{id:int}"
@model NMCUI.Areas.UI1.Pages.Doctors.DetailsModel
@inject IViewLocalizer _localizer
@{
    ViewData["PageTitle"] = _localizer["Doctor Details"];
    bool isArabic = (User.GetUserLanguage() == "ar");
    string photo = (Model.Doctor?.PhotoPath == "user.jpg" ? "assets/img/user.jpg" : $"images/{Model.Doctor?.PhotoPath}");
}

<div class="content">
    <div class="row">
        <div class="col-sm-7 col-6">
            <h4 class="page-title">@ViewBag.PageTitle</h4>
        </div>

        <div class="col-sm-5 col-6 text-right m-b-30">
            <a asp-page="/Doctor/EditDoctor" asp-route-id="@Model.Doctor.Id" class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i> @_localizer["Edit Doctor"]</a>
        </div>
    </div>
    <div class="card-box profile-header">
        <div class="row">
            <div class="col-md-12">
                <div class="profile-view">
                    <div class="profile-img-wrap">
                        <div class="profile-img">
                            <a href="#"><img class="avatar" src="~/@photo" alt=""></a>
                        </div>
                    </div>
                    <div class="profile-basic">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="profile-info-left">
                                    <h3 class="user-name m-t-0 mb-0">@Model.Doctor.Name</h3>
                                    <small style="font-size: 100%;" class="text-muted">@Model.Doctor.Speciality</small>
                                    <div class="staff-id">
                                        <span class="custom-badge status-blue mr-1" hidden="@(!Model.Doctor.Consultant)">@_localizer["Consultant"]</span>
                                        <span class="custom-badge status-blue mr-1" hidden="@(!Model.Doctor.Surgeon)">@_localizer["Surgeon"]</span>
                                        <span class="custom-badge status-blue mr-1" hidden="@(!Model.Doctor.Referrer)">@_localizer["Referrer"]</span>
                                    </div>
                                    <div class="staff-msg"><a asp-page="/Appointments/AddAppointment" asp-route-docid="@Model.Doctor.Id" class="btn btn-primary">@_localizer["Make Appointment"]</a></div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <ul class="personal-info">
                                    <li>
                                        <span class="title">@_localizer["Phone"]:</span>
                                        <span class="text"><a href="#">@Model.Doctor.Phone</a></span>
                                    </li>
                                    <li>
                                        <span class="title">@_localizer["Email"]:</span>
                                        <span class="text"><a href="#">@Model.Doctor.Email</a></span>
                                    </li>
                                    <li>
                                        <span class="title">@_localizer["Joining Date"]:</span>
                                        <span class="text">@(Model.Doctor.JoiningDate.HasValue ? Model.Doctor.JoiningDate.Value.ToString("yyyy-MM-dd") : "")</span>
                                    </li>
                                    <li>
                                        <span class="title">@_localizer["Address"]:</span>
                                        <span class="text">@Model.Doctor.Address</span>
                                    </li>
                                    <li>
                                        <span class="title">@_localizer["Gender"]:</span>
                                        <span class="text">@_localizer[Model.Doctor.Gender.ToString()]</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-tabs">
        <ul class="nav nav-tabs nav-tabs-bottom">
            <li class="nav-item"><a class="nav-link active" href="#general-infot" data-toggle="tab">@_localizer["General Information"]</a></li>
            <li class="nav-item"><a class="nav-link" href="#departments-info" data-toggle="tab">@_localizer["Departments"]</a></li>
            <li class="nav-item"><a class="nav-link" href="#schedule-info" data-toggle="tab">@_localizer["Doctor Schedule"]</a></li>
            <li class="nav-item"><a class="nav-link" href="#appointments-info" data-toggle="tab">@_localizer["Appointments"]</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane show active" id="general-info">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-box">
                            <h3 class="card-title">@_localizer["Biography"]</h3>
                            <p class="blog-content">
                                @Model.Doctor.Biography
                            </p>
                        </div>
                        <div class="card-box">
                            <h3 class="card-title">@_localizer["Education Informations"]</h3>

                            <div class="experience-box">
                                <ul class="experience-list" hidden="@(Model.Doctor.EducationDetails == null)">
                                    @foreach (var edu in Model.Doctor.EducationDetails.OrderByDescending(x => x.StartingDate))
                                    {
                                        <li>
                                            <div class="experience-user">
                                                <div class="before-circle"></div>
                                            </div>
                                            <div class="experience-content">
                                                <div class="timeline-content">
                                                    <a href="#/" class="name">@edu.Institution</a>
                                                    <div>@edu.Degree</div>
                                                    <span class="time">@edu.StartingDate.Year - @edu.CompleteDate.Year</span>
                                                </div>
                                            </div>
                                        </li>

                                    }

                                </ul>
                            </div>
                        </div>
                        <div class="card-box mb-0">
                            <h3 class="card-title">@_localizer["Experiences"]</h3>
                            <div class="experience-box">
                                <ul class="experience-list" hidden="@(Model.Doctor.ExperienceDetails == null)">
                                    @foreach (var exp in Model.Doctor.ExperienceDetails.OrderByDescending(x => x.PeriodFrom))
                                    {
                                        <li>
                                            <div class="experience-user">
                                                <div class="before-circle"></div>
                                            </div>
                                            <div class="experience-content">
                                                <div class="timeline-content">
                                                    <a href="#/" class="name">@exp.Position</a>
                                                    <span class="time">@exp.FromStr @_localizer[exp.ToStr])</span>
                                                </div>
                                            </div>
                                        </li>

                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="departments-info">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-box mb-0">
                            <h3 class="card-title">@_localizer["Departments"]</h3>
                            <div class="p-2" hidden="@(Model.Doctor.DepartmentDoctors == null)">
                                @foreach (var department in Model.Doctor.DepartmentDoctors)
                                {
                                    <div class="alert alert-info fade show" role="alert">
                                        <strong><i class="fa fa-hospital-o"></i> @(isArabic ? department.Department?.NameAr : department.Department?.Name)</strong>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="schedule-info">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-box mb-0">
                            <h3 class="card-title">@_localizer["Doctor Scedule"]</h3>
                            <div class="table-responsive" hidden="@(Model.Doctor.Schedules == null)">
                                <table class="table table-striped custom-table mb-0 datatable">
                                    <thead>
                                        <tr>
                                            <th>@Html.DisplayNameFor(p => p.Doctor.Schedules.FirstOrDefault().FromDate)</th>
                                            <th>@Html.DisplayNameFor(p => p.Doctor.Schedules.FirstOrDefault().Timing)</th>
                                            <th>@Html.DisplayNameFor(p => p.Doctor.Schedules.FirstOrDefault().Days)</th>
                                            <th>@Html.DisplayNameFor(p => p.Doctor.Schedules.FirstOrDefault().Message)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var sched in Model.Doctor.Schedules)
                                        {
                                            <tr>
                                                <td>@sched.FromDate.ToShortDateString()</td>
                                                <td>@sched.Timing</td>
                                                <td>
                                                    @foreach (var d in sched.DaysList)
                                                    {
                                                        <span class="custom-badge status-green">@_localizer[d]</span>
                                                    }
                                                </td>
                                                <td>@sched.Message</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="appointments-info">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-box mb-0">
                            <h3 class="card-title">@_localizer["Appointments"]</h3>
                            <div class="table-responsive" hidden="@(Model.Doctor.Appointments == null)">
                                <table class="table table-striped custom-table mb-0 datatable">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>@Html.DisplayNameFor(p => p.Doctor.Appointments.FirstOrDefault().AppointmentType)</th>
                                            <th>@Html.DisplayNameFor(p => p.Doctor.Appointments.FirstOrDefault().Patient)</th>
                                            <th>@Html.DisplayNameFor(p => p.Doctor.Appointments.FirstOrDefault().Department)</th>
                                            <th>@Html.DisplayNameFor(p => p.Doctor.Appointments.FirstOrDefault().AppointmentDate)</th>
                                            <th>@Html.DisplayNameFor(p => p.Doctor.Appointments.FirstOrDefault().AppointmentTime)</th>
                                            <th>@Html.DisplayNameFor(p => p.Doctor.Appointments.FirstOrDefault().Active)</th>
                                            <th class="text-right">@_localizer["Action"]</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var appt in Model.Doctor.Appointments)
                                        {
                                        <tr>
                                            <td>@appt.Id</td>
                                            <td>@(isArabic ? appt.AppointmentType.NameAr : appt.AppointmentType?.Name)</td>
                                            <td>@(appt.Patient?.Name ?? appt.Visitor)</td>
                                            <td>@(isArabic ? appt.Department?.NameAr : appt.Department?.Name)</td>
                                            <td>@appt.AppointmentDate.ToShortDateString()</td>
                                            <td>@appt.AppointmentTime</td>
                                            <td><span class="custom-badge @appt.ActiveCSS">@_localizer[appt.ActiveText]</span></td>
                                            <td class="text-right">
                                                <div class="dropdown dropdown-action">
                                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" asp-page="/Appointments/EditAppointment" asp-route-id="@appt.Id"><i class="fa fa-pencil m-r-5"></i> @_localizer["Edit"]</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>