@page
@functions
{
    string PageTitle = "Inpatients";

    public IEnumerable<Inpatient> Items { get; set; }

    public async Task OnGetAsync()
    {
        Items = await _mem.GetInpatients();
    }
}



<div class="content">

    <div class="row">
        <div class="col-sm-5 col-5">
            <h4 class="page-title">@_localizer[PageTitle]</h4>
        </div>
        <div class="col-sm-7 col-7 text-right m-b-30">
            <a asp-page="./Create" class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i> @_localizer["Create"]</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>@Html.DisplayNameFor(p => p.Items.FirstOrDefault().Name)</th>
                            <th>@Html.DisplayNameFor(p => p.Items.FirstOrDefault().Status)</th>
                            <th>@Html.DisplayNameFor(p => p.Items.FirstOrDefault().Ward)</th>
                            <th>@Html.DisplayNameFor(p => p.Items.FirstOrDefault().Room.Code)</th>
                            <th class="text-right">@_localizer["Action"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td scope="row">@item.Id</td>
                                <td>@item.Name</td>
                                <td>@item.Status</td>
                                <td>@item.Ward?.Name</td>
                                <td>@item.Room?.Code</td>
                                @*<td><span class="custom-badge status-green">Active</span></td>*@
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" asp-page="./Details" asp-route-id="@item.Id"><i class="fa fa-pencil m-r-5"></i> @_localizer["Details"]</a>
                                            <a class="dropdown-item" asp-page="./Edit" asp-route-id="@item.Id"><i class="fa fa-pencil m-r-5"></i> @_localizer["Edit"]</a>
                                            <a class="dropdown-item" asp-page="./Admit" asp-route-id="@item.Id"><i class="fa fa-pencil m-r-5"></i> @_localizer["Admit"]</a>
                                            <a class="dropdown-item" asp-page="./Patients/Edit" asp-route-InpatientId="@item.Id" asp-route-id="@item.PatientId"><i class="fa fa-pencil m-r-5"></i> @_localizer["Edit Patient Information"]</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>