@page

@{ 
    ViewBag.PageTitle = $"INPATIENT - {Inpatient?.Name} ({Id})";
}

@functions{

    public Inpatient Inpatient { get; set; }

    [BindProperty(SupportsGet = true)]
    public int Id { get; set; }

    public bool IsArabic { get; set; }

    public async Task OnGetAsync()
    {
        IsArabic = (User.GetUserLanguage()?.ToLower() == "ar");
        Inpatient = (await _mem.GetInpatients()).Where(x => x.Id == Id).FirstOrDefault();
    }
}

<div class="content">

    <div class="row">
        <div class="col-sm-7 col-6">
            <h4 class="page-title">@ViewBag.PageTitle</h4>
        </div>

        <div class="col-sm-5 col-6 text-right m-b-30">
            @*<a href="#" class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i> Edit</a>*@
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
        </div>
    </div>

   
    <div class="card-box profile-header">
        <div class="row">
            <div class="col-md-12">

                <div class="profile-view">

                    <div class="profile-img-wrap">
                        <div class="profile-img">
                            <a href="#"><img class="" src="~/assets/img/barcode.png" alt=""></a>
                        </div>
                    </div>

                    <div class="profile-basic">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="profile-info-left">
                                    <h3 class="user-name m-t-0 mb-0">@_localizer["Patient Full Name"]</h3>
                                    <small class="text-muted">@Inpatient?.Patient?.Age @_localizer[$"years old, {Inpatient?.Patient?.Gender}"]</small>
                                    <div class="staff-id">@_localizer["Generated ID"]: @Inpatient?.Id</div>
                                    <div class="staff-msg">
                                        @Inpatient?.Referrer?.Name
                                        <div class="text-muted">@Inpatient?.Referrer?.Title</div>
                                        <div class="text-primary m6-2"><i class="fa fa-phone-square"></i> @Inpatient?.Referrer?.Phone <i class="fa fa-mobile"></i> @Inpatient?.Referrer?.Mobile</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <ul class="personal-info">
                                    <li>
                                        <span class="title">@_localizer["Status"]:</span>
                                        <span class="text"><span class="font-weight-bold text-primary">@Inpatient?.Status?.Name</span> @(Inpatient?.Status?.Description is not null ? $"({Inpatient?.Status?.Description})" : "")</span>
                                    </li>
                                    <li>
                                        <span class="title">@_localizer["Last Update"]:</span>
                                        <span class="text"><date value="@Inpatient.Status.StatusTime" format="ddd, dd-MM-yy HH:mm"></date></span>
                                    </li>
                                    <li>
                                        <span class="title">@_localizer["Ward"]:</span>
                                        <span class="text">@(IsArabic ? Inpatient?.Ward?.NameAr : Inpatient?.Ward?.Name)</span>
                                    </li>
                                    <li>
                                        <span class="title">@_localizer["Room"]/@_localizer["Grade"]:</span>
                                        <span class="text">@Inpatient?.RoomNo <span class="text-danger mx-2">
                                            @(IsArabic ? Inpatient?.RoomGrade?.NameAr : Inpatient?.RoomGrade?.Name)
                                            @if (Inpatient?.IsUpgrade ?? false)
                                            {
                                                <i class="fa fa-arrow-circle-o-up"></i>
                                            }
                                            else if (Inpatient?.IsDowngrade ?? false)
                                            {
                                                <i class="fa fa-arrow-circle-o-down"></i>
                                            }
                                            </span></span>
                                    </li>
                                    <li>
                                        <span class="title">@_localizer["Companion"]:</span>
                                        <span class="text">@Inpatient?.Companion</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <div class="profile-tabs">
        <ul class="nav nav-tabs nav-tabs-bottom">
            <li class="nav-item"><a class="nav-link active" href="#tab-overview" data-toggle="tab">@_localizer["Overview"]</a></li>
            <li class="nav-item"><a class="nav-link" href="#tab-personal-info" data-toggle="tab">@_localizer["Personal Information"]</a></li>
            <li class="nav-item"><a class="nav-link" href="#tab-admission" data-toggle="tab">@_localizer["Admission"]</a></li>
            <li class="nav-item"><a class="nav-link" href="#tab-discharge" data-toggle="tab">@_localizer["Dishcharge"]</a></li>
            <li class="nav-item"><a class="nav-link" href="#tab-admission-timeline" data-toggle="tab">@_localizer["Admission Timeline"]</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane show active" id="tab-overview">

                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs nav-tabs-solid nav-justified">
                            <li class="nav-item"><a class="nav-link active" href="#tab-medical-story" data-toggle="tab">@_localizer["Medical Story"]</a></li>
                            <li class="nav-item"><a class="nav-link" href="#tab-tests" data-toggle="tab">@_localizer["Lab Tests"]</a></li>
                            <li class="nav-item"><a class="nav-link" href="#tab-imaging" data-toggle="tab">@_localizer["Imaging"]</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane show active" id="tab-medical-story">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card-body">
                                            <div class="card-body">
                                                <div class="card-title">@_localizer["BLOOD TYPE"]</div>
                                                <h2>@Inpatient?.Patient.BloodType</h2>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="card-title">Patient Check List</div>
                                                <p class="card-text">notes from doctor</p>
                                            </div>
                                            <ul class="list-group list-group-flush">

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Smoking
                                                    <h2 class="badge badge-danger badge-pill">Heavy</h2>
                                                </li>

                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Alcohol
                                                    <h2 class="badge badge-primary badge-pill">No</h2>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="card-title">Allergies and Diseases</div>
                                                <p class="card-text">notes from doctor</p>
                                            </div>
                                            <ul class="list-group">

                                                <li class="list-group-item">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">Food Allergy</h5>
                                                    </div>
                                                    <p class="mb-1">None</p>

                                                </li>

                                                <li class="list-group-item">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">Medical Allergy</h5>
                                                    </div>
                                                    <ul class="mb-1">
                                                        <li>Histameen</li>
                                                        <li>Medicne 2</li>
                                                    </ul>
                                                    <p class="mb-1">Comments</p>
                                                </li>

                                                <li class="list-group-item">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">Diabeties</h5>
                                                    </div>
                                                    <ul class="mb-1">
                                                        <li>Type 1</li>
                                                        <li>Type 2</li>
                                                    </ul>
                                                    <p class="mb-1">Comments</p>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="card-title">Medicines</div>
                                                <p class="card-text">notes from doctor</p>
                                            </div>
                                            <ul class="list-group">

                                                <li class="list-group-item">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">Current Medicins</h5>
                                                    </div>
                                                    <ul class="mb-1">
                                                        <li>Blood Pressue 3/day</li>
                                                        <li>Aspirin 1/d</li>
                                                        <li>Diabetes Med</li>
                                                    </ul>
                                                    <p class="mb-1">Comments</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane" id="tab-tests">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card-box">
                                            <div class="card-body">
                                                <div class="card-title">Test Request</div>
                                                
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <input type="checkbox">
                                                        </span>
                                                    </div>
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text text-white" style="background-color: #dc2e3f;">HEMATOLOGY</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Comments">
                                                </div>
                                                
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <input type="checkbox">
                                                        </span>
                                                    </div>
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text text-black-50" style="background-color: #f7ff40;">URINALYSIS</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Comments">
                                                </div>
                                                
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <input type="checkbox">
                                                        </span>
                                                    </div>
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text text-white" style="background-color: #007bff;">BACTERIOLAGY</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Comments">
                                                </div>
                                                
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <input type="checkbox">
                                                        </span>
                                                    </div>
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text text-white" style="background-color: #7d1d26;">BLOOD GAS</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Comments">
                                                </div>
                                                
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <input type="checkbox">
                                                        </span>
                                                    </div>
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text text-white" style="background-color: #22860c;">CHEMISTRY</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Comments">
                                                </div>

                                                <div class="form-group">
                                                    <label for="selectTest" class="col-form-label">Select Tests</label>
                                                    <select id="selectTest" class="select" multiple>
                                                        <optgroup label="Blood Gas">
                                                            <option>PH</option>
                                                            <option>PCO2</option>
                                                            <option>HCO3</option>
                                                            <option>TCO3</option>
                                                            <option>B E b</option>
                                                            <option>% SO2 C</option>
                                                        </optgroup>
                                                        <optgroup label="Hematology">
                                                            <option>R.B.C</option>
                                                            <option>Hgb.</option>
                                                            <option>Hct.</option>
                                                            <option>W.B.C</option>
                                                        </optgroup>
                                                    </select>
                                                </div>
                                                <button class="btn btn-primary">Submit Request</button>
                                            </div>
                                        </div>

                                        <div class="card-box">
                                            <div class="card-body">
                                                <div class="card-title">Pending Requests</div>
                                            </div>
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">BLOOD GAS</h5>
                                                        <small>2 hrs ago</small>
                                                    </div>
                                                    <ul class="tags mb-1">
                                                        <li><a href="#." class="tag">PH</a></li>
                                                        <li><a href="#." class="tag bg-danger text-light">PCO2 <i class="fa fa-check"></i></a></li>
                                                        <li><a href="#." class="tag bg-success text-light">HCO3 <i class="fa fa-check"></i></a></li>
                                                        <li><a href="#." class="tag">TCO2</a></li>
                                                    </ul>
                                                    <small>Samples collected 1 hr ago</small>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-md-8">
                                        <div class="card-box">
                                            <div class="card-header">Test Results</div>
                                            <div class="card-body">
                                                <form class="form-inline">
                                                    <div class="form-group mb-2">
                                                        <label for="category" class="sr-only">Category</label>
                                                        <select id="category" class="form-control">
                                                            <option>Blood Gas</option>
                                                            <option>Hematology</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group mx-sm-3 mb-2">
                                                        <label for="date" class="sr-only">Date</label>
                                                        <input type="date" class="form-control" id="date">
                                                        <select class="form-control">
                                                            <option>12:00 AM</option>
                                                            <option>01:00 AM</option>
                                                            <option>02:00 AM</option>
                                                            <option>03:00 AM</option>
                                                            <option>04:00 AM</option>
                                                            <option>05:00 AM</option>
                                                            <option>06:00 AM</option>
                                                            <option>07:00 AM</option>
                                                            <option>08:00 AM</option>
                                                            <option>09:00 AM</option>
                                                            <option>10:00 AM</option>
                                                            <option>11:00 AM</option>
                                                            <option>12:00 PM</option>
                                                            <option>01:00 PM</option>
                                                            <option>02:00 PM</option>
                                                            <option>03:00 PM</option>
                                                            <option>04:00 PM</option>
                                                            <option>05:00 PM</option>
                                                            <option>06:00 PM</option>
                                                            <option>07:00 PM</option>
                                                            <option>08:00 PM</option>
                                                            <option>09:00 PM</option>
                                                            <option>10:00 PM</option>
                                                            <option>11:00 PM</option>
                                                        </select>
                                                        <select class="form-control">
                                                            <option>12:00 AM</option>
                                                            <option>01:00 AM</option>
                                                            <option>02:00 AM</option>
                                                            <option>03:00 AM</option>
                                                            <option>04:00 AM</option>
                                                            <option>05:00 AM</option>
                                                            <option>06:00 AM</option>
                                                            <option>07:00 AM</option>
                                                            <option>08:00 AM</option>
                                                            <option>09:00 AM</option>
                                                            <option>10:00 AM</option>
                                                            <option>11:00 AM</option>
                                                            <option>12:00 PM</option>
                                                            <option>01:00 PM</option>
                                                            <option>02:00 PM</option>
                                                            <option>03:00 PM</option>
                                                            <option>04:00 PM</option>
                                                            <option>05:00 PM</option>
                                                            <option>06:00 PM</option>
                                                            <option>07:00 PM</option>
                                                            <option>08:00 PM</option>
                                                            <option>09:00 PM</option>
                                                            <option>10:00 PM</option>
                                                            <option>11:00 PM</option>
                                                        </select>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary mb-2">Refresh</button>
                                                </form>

                                                <div class="table-responsive">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>Test</th>
                                                                <th>Date</th>
                                                                <th>Time</th>
                                                                <th>Range</th>
                                                                <th>Result</th>
                                                                <th>UOM</th>
                                                                <th>Comments</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-nowrap">R.B.C</td>
                                                                <td>T 01/05/20</td>
                                                                <td>12:30 AM</td>
                                                                <td></td>
                                                                <td>5</td>
                                                                <td>million / mm3</td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr class="table-warning">
                                                                <td class="text-nowrap">Hgb.</td>
                                                                <td>T 01/05/20</td>
                                                                <td>12:30 AM</td>
                                                                <td></td>
                                                                <td>0.05</td>
                                                                <td>g./100</td>
                                                                <td>L</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr class="table-danger">
                                                                <td class="text-nowrap">XXX</td>
                                                                <td>T 01/05/20</td>
                                                                <td>12:30 AM</td>
                                                                <td>1 - 5</td>
                                                                <td>7</td>
                                                                <td>yy</td>
                                                                <td>H</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-nowrap">A</td>
                                                                <td>T 01/05/20</td>
                                                                <td>12:30 AM</td>
                                                                <td></td>
                                                                <td>5</td>
                                                                <td>million / mm3</td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-nowrap">B</td>
                                                                <td>T 01/05/20</td>
                                                                <td>12:30 AM</td>
                                                                <td></td>
                                                                <td>5</td>
                                                                <td>million / mm3</td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-nowrap">C</td>
                                                                <td>T 01/05/20</td>
                                                                <td>12:30 AM</td>
                                                                <td></td>
                                                                <td>5</td>
                                                                <td>million / mm3</td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="table-responsive">
                                                    <table class="table table-bordered text-center">
                                                        <tr>
                                                            <th scope="row" rowspan="2">Test</th>
                                                            <th colspan="24">Date</th>
                                                        </tr>
                                                        <tr>
                                                            <th>12A</th>
                                                            <th>01A</th>
                                                            <th>02A</th>
                                                            <th>03A</th>
                                                            <th>04A</th>
                                                            <th>05A</th>
                                                            <th>06A</th>
                                                            <th>07A</th>
                                                            <th>08A</th>
                                                            <th>09A</th>
                                                            <th>10A</th>
                                                            <th>11A</th>
                                                            <th>12P</th>
                                                            <th>01P</th>
                                                            <th>02P</th>
                                                            <th>03P</th>
                                                            <th>04P</th>
                                                            <th>05P</th>
                                                            <th>06P</th>
                                                            <th>07P</th>
                                                            <th>08P</th>
                                                            <th>09P</th>
                                                            <th>10P</th>
                                                            <th>11P</th>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-nowrap">R. B. C.</td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td>
                                                                <span class="badge badge-primary">5</span>
                                                            </td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td>
                                                                <span class="badge badge-primary">8</span>
                                                            </td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td>
                                                                <span class="badge badge-primary">3</span>
                                                            </td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-nowrap">W.B.C.</td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td>
                                                                <span class="badge badge-primary">0.1</span>
                                                            </td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td>
                                                                <span class="badge badge-warning"><i class="fa fa-long-arrow-up"></i> 0.5</span>
                                                            </td>
                                                            <td></td>
                                                            <td></td>
                                                            <td>
                                                                <span class="badge badge-danger"><i class="fa fa-long-arrow-up"></i> 0.6</span>
                                                            </td>
                                                            <td></td>
                                                            <td>
                                                                <span class="badge badge-warning"><i class="fa fa-long-arrow-down"></i> 0.4</span>
                                                            </td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td>
                                                                <span class="badge badge-success"><i class="fa fa-long-arrow-down"></i> 0.3</span>
                                                            </td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-nowrap">Hgb.</td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-nowrap">AAA</td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-imaging">
                                <div id="lightgallery" class="row">
                                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 m-b-20">
                                        <a href="~/assets/img/xray1.jpg">
                                            <img class="img-thumbnail" src="~/assets/img/xray1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 m-b-20">
                                        <a href="~/assets/img/xray2.jpg">
                                            <img class="img-thumbnail" src="~/assets/img/xray2.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 m-b-20">
                                        <a href="~/assets/img/xray3.jpg">
                                            <img class="img-thumbnail" src="~/assets/img/xray3.jpg" alt="">
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="tab-admission">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-box">
                            <div class="card-body">
                                <div class="card-title">@_localizer["Admission"]</div>
                                <dl class="row">
                                    <dt class="col-sm-12 col-md-3">@_localizer["Type"]:</dt>
                                    <dd class="col-md-9">@(IsArabic ? Inpatient?.AdmissionType.NameAr : Inpatient?.AdmissionType.Name)</dd>

                                    <dt class="col-sm-12 col-md-3">@_localizer["Admet On"]:</dt>
                                    <dd class="col-md-9">@Inpatient?.AdmissionDate</dd>

                                    <dt class="col-sm-12 col-md-3">@_localizer["Police Ref."]:</dt>
                                    <dd class="col-md-9">@Inpatient?.PoliceRef</dd>

                                    <dt class="col-sm-12 col-md-3">@_localizer["Companion"]:</dt>
                                    <dd class="col-md-9">@Inpatient?.Companion</dd>

                                    <dt class="col-sm-12 col-md-3">@_localizer["Ward"]:</dt>
                                    <dd class="col-md-9">@(IsArabic ? Inpatient?.Ward?.NameAr : Inpatient?.Ward?.Name)</dd>

                                    <dt class="col-sm-12 col-md-3">@_localizer["Room"]:</dt>
                                    <dd class="col-md-9">@Inpatient?.Room?.Name</dd>

                                    <dt class="col-sm-12 col-md-3">@_localizer["Current Grade"]:</dt>
                                    <dd class="col-md-9">@(IsArabic ? Inpatient?.RoomGrade?.NameAr : Inpatient?.RoomGrade?.Name)</dd>

                                    <dt class="col-sm-12 col-md-3">@_localizer["Original Grade"]:</dt>
                                    <dd class="col-md-9">@(IsArabic ? Inpatient?.Room?.RoomGrade?.NameAr : Inpatient?.Room?.RoomGrade?.Name)</dd>

                                    <dt class="col-sm-12 col-md-3">@_localizer["Meals"]</dt>
                                    <dd class="col-md-9">@Inpatient?.Meals</dd>

                                    <dt class="col-sm-12 col-md-3">@_localizer["Referrer"]:</dt>
                                    <dd class="col-md-9">@Inpatient?.Referrer?.Name</dd>

                                    <dt class="col-sm-12 col-md-3">@_localizer["Notes"]:</dt>
                                    <dd class="col-md-9">@Inpatient?.AdmissionNote</dd>
                                </dl>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="tab-pane" id="tab-discharge">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body">
                            <div class="card-title">@_localizer["Discharge"]</div>
                            <dl class="row">
                                <dt class="col-sm-12 col-md-3">@_localizer["Type"]:</dt>
                                <dd class="col-md-9">@(IsArabic ? Inpatient?.DischargeType?.NameAr : Inpatient?.DischargeType?.Name)</dd>

                                <dt class="col-sm-12 col-md-3">@_localizer["Time"]:</dt>
                                <dd class="col-md-9">@Inpatient?.DischargeDate</dd>

                                <dt class="col-sm-12 col-md-3">@_localizer["Deseased"]:</dt>
                                <dd class="col-md-9">@Inpatient?.Deceased</dd>

                                <dt class="col-sm-12 col-md-3">@_localizer["Des. Time"]:</dt>
                                <dd class="col-md-9">@Inpatient?.DeceasedDate</dd>

                                <dt class="col-sm-12 col-md-3">@_localizer["Notes"]:</dt>
                                <dd class="col-md-9">@Inpatient?.DeceaseNote</dd>

                            </dl>
                        </div>
                    </div>

                </div>
            </div>

            <div class="tab-pane" id="tab-personal-info">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-box">
                            <div class="card-body">
                                <div class="card-title">@_localizer["About"]</div>
                                <dl class="row">
                                    <dt class="col-sm-12 col-md-3">@_localizer["First Name"]:</dt>
                                    <dd class="col-md-9">@Inpatient?.Patient?.FirstName</dd>

                                    <dt class="col-sm-12 col-md-3">@_localizer["Last Name"]:</dt>
                                    <dd class="col-md-9">@Inpatient?.Patient?.LastName</dd>

                                    <dt class="col-sm-12 col-md-3">@_localizer["Father"]:</dt>
                                    <dd class="col-md-9">@Inpatient?.Patient?.FatherName</dd>

                                    <dt class="col-sm-12 col-md-3">@_localizer["Mother"]:</dt>
                                    <dd class="col-md-9">@Inpatient?.Patient?.MotherName</dd>

                                    <dt class="col-sm-12 col-md-3">@_localizer["Gender"]:</dt>
                                    <dd class="col-md-9">@Inpatient?.Patient?.Gender.ToString()</dd>

                                    <dt class="col-sm-12 col-md-3">@_localizer["Birth Date"]:</dt>
                                    <dd class="col-md-9">@Inpatient?.Patient?.BirthDate (@Inpatient?.Patient?.Age yrs)</dd>

                                    <dt class="col-sm-12 col-md-3">@_localizer["Nationality"]:</dt>
                                    <dd class="col-md-9">@(IsArabic ? Inpatient?.Patient?.Nationality?.NameAr : Inpatient?.Patient?.Nationality?.Name)</dd>

                                    <dt class="col-sm-12 col-md-3">@_localizer["Identity No."]:</dt>
                                    <dd class="col-md-9">@Inpatient?.Patient?.IdentityNo</dd>

                                    <dt class="col-sm-12 col-md-3">@_localizer["Marital Status"]:</dt>
                                    <dd class="col-md-9">@Inpatient?.Patient?.MaritalStatus.ToString()</dd>

                                    <dt class="col-sm-12 col-md-3">@_localizer["Children"]:</dt>
                                    <dd class="col-md-9">@Inpatient?.Patient?.Children</dd>
                                </dl>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card-box">
                            <div class="card-body">
                                <div class="card-title">@_localizer["Contact Details"]</div>
                                <dl class="row">
                                    <dt class="col-sm-12 col-md-3">@_localizer["Home Phone"]:</dt>
                                    <dd class="col-md-9">@Inpatient?.Patient?.Phone</dd>

                                    <dt class="col-sm-12 col-md-3">@_localizer["Mobild"]:</dt>
                                    <dd class="col-md-9">@Inpatient?.Patient?.Mobile</dd>

                                    <dt class="col-sm-12 col-md-3">@_localizer["Email Address"]:</dt>
                                    <dd class="col-md-9"><a href="#">@Inpatient?.Patient?.Email</a></dd>

                                    <dt class="col-sm-12 col-md-3">@_localizer["Residence Address"]:</dt>
                                    <dd class="col-md-9"><a href="#">@Inpatient?.Patient?.Address</a></dd>

                                    <dt class="col-sm-12 col-md-3">@_localizer["Work Phone"]:</dt>
                                    <dd class="col-md-9">@Inpatient?.Patient?.WorkPhone</dd>
                                </dl>
                                <hr />
                                <h5>@_localizer["Sponsor"]</h5>
                                <dl class="row">
                                    <dt class="col-sm-12 col-md-3">@_localizer["Name"]:</dt>
                                    <dd class="col-md-9">@Inpatient?.Patient?.SponsorContact</dd>

                                    <dt class="col-sm-12 col-md-3">@_localizer["Phone"]:</dt>
                                    <dd class="col-md-9">@Inpatient?.Patient?.SponsorPhone</dd>

                                    <dt class="col-sm-12 col-md-3">@_localizer["Mobile"]:</dt>
                                    <dd class="col-md-9">@Inpatient?.Patient?.SponsorMobile</dd>

                                    <dt class="col-sm-12 col-md-3">@_localizer["Address"]:</dt>
                                    <dd class="col-md-9">@Inpatient?.Patient?.SponsorAddress</dd>

                                </dl>
                                <hr />
                                <h5>@_localizer["Emergency"]</h5>
                                <dl class="row">
                                    <dt class="col-sm-12 col-md-3">@_localizer["Contact"]:</dt>
                                    <dd class="col-md-9">@Inpatient?.Patient?.EmergencyContact</dd>

                                    <dt class="col-sm-12 col-md-3">@_localizer["Phone"]:</dt>
                                    <dd class="col-md-9">@Inpatient?.Patient?.EmergencyPhone</dd>

                                    <dt class="col-sm-12 col-md-3">@_localizer["Mobile"]:</dt>
                                    <dd class="col-md-9">@Inpatient?.Patient?.EmergencyMobile</dd>

                                    <dt class="col-sm-12 col-md-3">@_localizer["Address"]:</dt>
                                    <dd class="col-md-9"><a href="#">@Inpatient?.Patient?.EmergencyAddress</a></dd>
                                </dl>


                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="tab-pane" id="tab-admission-timeline">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-box">
                            <h3 class="card-title">@_localizer["Admission Status"]</h3>
                            <div class="experience-box">
                                <ul class="experience-list">
                                    <li>
                                        <div class="experience-user">
                                            <div class="before-circle"></div>
                                        </div>
                                        <div class="experience-content">
                                            <div class="timeline-content">
                                                <a href="#" class="name">@_localizer["Created"]</a>
                                                <span class="time">@Inpatient?.Statuses?.OrderBy(x => x.StatusTime).Select(x => x.StatusTime).FirstOrDefault()</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="experience-user">
                                            <div class="before-circle"></div>
                                        </div>
                                        <div class="experience-content">
                                            <div class="timeline-content">
                                                <a href="#" class="name">@_localizer["Admet"]</a>
                                                <span class="time">@Inpatient?.AdmissionDate</span>
                                                <div>@(IsArabic ? Inpatient?.AdmissionType?.NameAr : Inpatient?.AdmissionType.Name)</div>
                                                <div>@(IsArabic ? Inpatient?.Ward?.NameAr : Inpatient?.Ward?.Name)</div>
                                                <div>@_localizer["Room"]: @Inpatient?.Room?.Name</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="experience-user">
                                            <div class="before-circle"></div>
                                        </div>
                                        <div class="experience-content">
                                            <div class="timeline-content">
                                                <a href="#" class="name">@_localizer["Discharged"]</a>
                                                <span class="time">@Inpatient?.DischargeDate</span>
                                                <div>@(IsArabic ? Inpatient?.DischargeType?.NameAr : Inpatient?.DischargeType?.Name)</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    

</div>