@model Inpatient
@inject IViewLocalizer _localizer

@using static NMC.Constants

@{ 
    bool CanInpatients = User.IsInRole(RoleAdmin)
        || User.IsInRole(RoleIPDClerk)
        || User.IsInRole(RoleDoctor)
        || User.IsInRole(RoleNurse)
        || User.IsInRole(RoleAccountant);

    bool CanAdmission = User.IsInRole(RoleAdmin)
        || User.IsInRole(RoleIPDClerk);

    bool CanAccounting = User.IsInRole(RoleAdmin)
        || User.IsInRole(RoleAccountant);

    bool CanMedical = User.IsInRole(RoleAdmin)
        || User.IsInRole(RoleDoctor)
        || User.IsInRole(RoleNurse);


}

<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li>
                    <a href="/"><i class="fa fa-home back-icon"></i> <span>@_localizer["Back to Home"]</span></a>
                </li>
                <li class="menu-title">@_localizer["Inpatient Menu"]</li>

                @if(CanAdmission)
                {
                    <li>
                        <a href="/Inpatients/Details/@(Model.Id)"><i class="fa fa-bed"></i> <span>@_localizer["Details"]</span></a>
                    </li>
                    <li>
                        <a href="/Patients/Edit/@(Model.PatientId)?returnurl=/Inpatients/Details/@Model.Id"><i class="fa fa-wheelchair"></i> <span>@_localizer["Edit Patient Info"]</span></a>
                    </li>
                    <li>
                        <a href="/Inpatients/Edit/@(Model.Id)?returnurl=/Inpatients/Details/@Model.Id"><i class="fa fa-pencil"></i> <span>@_localizer["Edit Details"]</span></a>
                    </li>

                }

                @if(CanAccounting)
                {
                    <li>
                        <a href="#"><i class="fa fa-money"></i> <span>@_localizer["Bills"]</span></a>
                    </li>
                }

                @if(CanMedical)
                {
                    <li>
                        <a href="/Inpatients/Medical/@(Model.Id)"><i class="fa fa-bed"></i> <span>@_localizer["Medical"]</span></a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>