@page "{id:int?}"
@model NMC.Pages.Inpatients.MedicalModel



@inject IViewLocalizer _localizer

@{
    ViewData["Title"] = _localizer["Inpatient"];
}


<partial name="_SidebarDetails" model="Model.Entity" />

<div class="page-wrapper">
    <div class="content">
        <!-- Header -->
        <div class="row">
            <div class="col-sm-5 col-5">
                <h4 class="page-title">@_localizer["Inpatient"]# <span class="h3 font-weight-bolder text-info">@Model.Entity.Id</span></h4>

            </div>
        </div>

        <!-- Body -->
        <div class="row">
            <div class="col-md-12">
                <div class="profile-tabs">
                    <ul class="nav nav-tabs nav-tabs-bottom">
                        <li class="nav-item"><a class="nav-link" href="#tab-med" data-toggle="tab">@_localizer["Medical Story"]</a></li>
                        <li class="nav-item"><a class="nav-link" href="#tab-test" data-toggle="tab">@_localizer["Lab Tests"]</a></li>
                        <li class="nav-item"><a class="nav-link" href="#tab-img" data-toggle="tab">@_localizer["Imaging"]</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane show active" id="tab-med">
                            <partial name="_MedicalStory" />
                        </div>
                        <div class="tab-pane" id="tab-test">
                            <partial name="_TestLab" />
                        </div>
                        <div class="tab-pane" id="tab-img">
                            <partial name="_Imaging" />
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />

}

