@page
@model NMC.Pages.Users.CreateModel

@inject IViewLocalizer _localizer

@{
    ViewData["Title"] = _localizer["Create User"];
}


<partial name="_Sidebar" />

<div class="page-wrapper">
    <div class="content">
        <!-- Header -->
        <div class="row">
            <div class="col-sm-5 col-5">
                <h4 class="page-title">@ViewBag.Title</h4>
            </div>
        </div>

        <!-- Body -->
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="row mb-3">
                <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>@_localizer["Error!"]</strong> @_localizer[ViewBag.ErrorMessage]
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    @if(Model.DoctorId.HasValue && !string.IsNullOrEmpty(ViewBag.DoctorName))
                    {
                    <div class="form-group">
                        <label for="doctor" class="col-form-label">@_localizer["Doctor"]</label>
                        <input readonly id="doctor" value="@ViewBag.DoctorName" class="form-control-plaintext w-50"/>
                        <input asp-for="DoctorId" type="hidden"/>
                    </div>
                    }
                    <div class="form-group">
                        <label asp-for="Entity.UserName" class="col-form-label"></label>
                        <input asp-for="Entity.UserName" class="form-control w-50" />
                        <span asp-validation-for="Entity.UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Entity.Email" class="col-form-label"></label>
                        <input asp-for="Entity.Email" class="form-control w-50" />
                        <span asp-validation-for="Entity.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Entity.PhoneNumber" class="col-form-label"></label>
                        <input asp-for="Entity.PhoneNumber" class="form-control w-50" />
                        <span asp-validation-for="Entity.PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="col-form-label"></label>
                        <input asp-for="Password" class="form-control w-50" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="col-form-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control w-50" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>


                    <div class="m-t-20">
                        <button type="submit" class="btn btn-primary">@_localizer["Save"]</button>
                        <a href="@Model.ReturnUrl" class="btn btn-secondary ml-1">@_localizer["Return"]</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />

}